<style>
    .menu li {
     list-style: none;
     text-align: center;
     float: left;
     padding: 12px;
 }

 .section-1 {
     background: #000;
     color: #fff!important;
 }

 .menu li a {
     color: #fff!important
 }
 .form-control{
     padding:10px 15px;
 }
</style>
<div class="container-fluid section-1">
 <div class="col-md-12">
     <ul class="menu">
         <li>
             <a href="#/Home">Home</a>
         </li>
     </ul>
 </div>
</div><br>
<div class="col-md-12" ng-controller="myCtrl5" ng-init="getdata()">
     <div>
         <table class="table table-bordered table-hover parenttable" id="datatable">
                 <thead>
                     <tr>
                         <th>Name</th>
                         <th>Email</th>
                         <th>Phone</th>
                         <th>Password</th>
                         <th>DOB</th>
                         <th>Status</th>
                         <th>Edit&Delete</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr  class="childrow">
                         <td><input ng-model="data.name" type="text" class="form-control" value ="{{data.name}}"></td>
                         <td><input ng-model="data.mail" type="email" class="form-control" value="{{data.mail}}"></td>
                         <td><input ng-model="data.phno" type="text" class="form-control" value="{{data.phno}}"></td>
                         <td><input ng-model="data.pwd" type="text" class="form-control" value="{{data.pwd}}"></td>
                         <td><input ng-model="data.dob" type="text" class="form-control" value="{{data.dob}}"></td>
                         <td><input ng-model="data.status" type="text" class="form-control" value="{{data.status}}"> </td>
                          <td>
                             <button class="btn btn-primary edit"><i class="fa fa-pencil"></i></button>
                             <button class="btn btn-primary save" ng-click="save(data)">Save</button>
                             <!-- <button ng-click="deletedata(x._id)" class="btn btn-primary">X</button> -->
                         </td>
                     </tr>
                 </tbody>
             </table>
        </div>
     </div>
     <script>
         $('.save').hide();
          $(document).on('click', '.edit', function(e){
              e.preventDefault();
              $(this).closest('.childrow').find('input').prop("disabled",false);
              $(this).closest('.childrow').find('.edit').hide();
              $(this).closest('.childrow').find('.save').show();
         });
         </script>

